[submodule "talk-statistical-software-design"]
	path = statistical-software-design
	url = git@github.com:mitchelloharawild/talk-statistical-software-design.git
	branch = gh-pages
[submodule "statistical-software-design"]
	branch = gh-pages
[submodule "OnePackagePerMeetup-gganimate"]
	path = OnePackagePerMeetup-gganimate
	url = git@github.com:mitchelloharawild/OnePackagePerMeetup-gganimate.git
	branch = gh-pages
[submodule "talk-multiseasonal-2020"]
	path = nhs2020
	url = git@github.com:mitchelloharawild/talk-multiseasonal-2020.git
	branch = gh-pages
[submodule "talk-reconciling-graphs"]
	path = reconciling-graphs
	url = git@github.com:mitchelloharawild/talk-reconciling-graphs.git
	branch = gh-pages
[submodule "talk-forecast-to-fable"]
	path = nyr2023
	url = git@github.com:mitchelloharawild/talk-forecast-to-fable.git
	branch = gh-pages
[submodule "talk-researchtools-rmd"]
	path = researchtools-rmd
	url = git@github.com:mitchelloharawild/talk-researchtools-rmd.git
	branch = gh-pages
[submodule "talk-tfeam2018"]
	path = fable-tfeam
	url = git@github.com:mitchelloharawild/talk-tfeam2018.git
	branch = gh-pages
[submodule "user2019"]
	path = user2019
	url = git@github.com:mitchelloharawild/talk-fable-combinations.git
	branch = user2019
[submodule "isf2019"]
	path = isf2019
	url = git@github.com:mitchelloharawild/talk-fable-combinations.git
	branch = isf2019
[submodule "amazon-berlin2019"]
	path = amazon-berlin2019
	url = git@github.com:mitchelloharawild/talk-fable-combinations.git
	branch = amazon-berlin2019
[submodule "fable-booking2019"]
	path = fable-booking2019
	url = git@github.com:mitchelloharawild/talk-fable-combinations.git
	branch = fable-booking2019
[submodule "user2018"]
	path = user2018
	url = git@github.com:mitchelloharawild/talk-user2018-fasster.git
	branch = master
[submodule "MelbURN17"]
	path = MelbURN17
	url = git@github.com:mitchelloharawild/talk-melburn2017.git
	branch = master
[submodule "wombat-gganimate"]
	path = wombat-gganimate
	url = git@github.com:mitchelloharawild/talk-wombat2019-gganimate.git
	branch = master
[submodule "isf2020"]
	path = isf2020
	url = git@github.com:mitchelloharawild/talk-fable-temporal-2020.git
	branch = gh-pages
[submodule "prato2023"]
	path = prato2023
	url = git@github.com:mitchelloharawild/talk-prato2023.git
	branch = gh-pages
[submodule "research-practices-quarto"]
	path = research-practices-quarto
	url = git@github.com:mitchelloharawild/talk-research-practices-quarto.git
	branch = gh-pages
[submodule "etx6510"]
	path = etx6510
	url = git@github.com:mitchelloharawild/talk-etx6510.git
	branch = gh-pages
[submodule "numbats-graph-coherency"]
	path = numbats-graph-coherency
	url = git@github.com:mitchelloharawild/talk-numbats-graph-coherency.git
	branch = gh-pages
[submodule "moodlequiz"]
	path = moodlequiz
	url = git@github.com:mitchelloharawild/talk-moodlequiz.git
	branch = gh-pages
[submodule "phd-confirmation"]
	path = phd-confirmation
	url = git@github.com:mitchelloharawild/phd-confirmation.git
	branch = gh-pages
[submodule "pruning-graphs"]
	path = pruning-graphs
	url = git@github.com:mitchelloharawild/talk-graph-pruning.git
	branch = gh-pages
