[submodule "talk-statistical-software-design"]
	path = statistical-software-design
	url = git@github.com:mitchelloharawild/talk-statistical-software-design.git
	branch = gh-pages
[submodule "statistical-software-design"]
	branch = gh-pages
[submodule "OnePackagePerMeetup-gganimate"]
	path = OnePackagePerMeetup-gganimate
	url = git@github.com:mitchelloharawild/OnePackagePerMeetup-gganimate.git
	branch = gh-pages
[submodule "talk-multiseasonal-2020"]
	path = nhs2020
	url = git@github.com:mitchelloharawild/talk-multiseasonal-2020.git
	branch = gh-pages
[submodule "talk-reconciling-graphs"]
	path = reconciling-graphs
	url = git@github.com:mitchelloharawild/talk-reconciling-graphs.git
	branch = gh-pages
[submodule "talk-forecast-to-fable"]
	path = nyr2023
	url = git@github.com:mitchelloharawild/talk-forecast-to-fable.git
	branch = gh-pages
[submodule "talk-researchtools-rmd"]
	path = researchtools-rmd
	url = git@github.com:mitchelloharawild/talk-researchtools-rmd.git
	branch = gh-pages
